.bg-custom {
    /*background-color: #03506f !important;*/
    background-color: #1a659e !important;
}

.border-custom {
    border-style: solid;
    border-width: 2px;
    /*border-color: #03506f;*/
    border-color: #1a659e;
}

.size-50 {
    width: 50px;
    height: 50px;
}

.font-ubuntu {
    font-family: 'Ubuntu', sans-serif;
}