.left {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100px;
    background-color: #03506f;
}

.main {
    position: fixed;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
    background-image: url('bg.svg');
}